<div class="row">
  <div class="mx-auto">
    <img class="avatar" alt="" src="../../../assets/dashboard/detail/eye.png">
  </div>
</div>
<div class="text-center">
  <h2 class="page-header">Detail</h2>
</div>
<div class="row">
  <button style="width: 100%;" [routerLink]="['/dashboard']" type="button" class="btn btn-raised  btn-info">Zurück</button>
</div>
<hr>
<div class="row mx-auto">
  <div class="col">
      <div class="card date" >
        <h1><i class="fas fa-clock"></i> Datum & Uhrzeit</h1>
         <h3>{{infounit?.date}}</h3>
      </div>
  </div>
  </div>
<div class="row mx-auto">
  <div class="col-sm">
      <div class="card">
          <circle-progress [percent]="infounit?.temperatur" [radius]="radius" [animation]='true' [animationDuration]="1000" [units]="'Grad Celisius'" [outerStrokeColor]="'#FF4000'"
          [innerStrokeColor]="'#F78181'" [showSubtitle]='false'></circle-progress>
      </div>
  </div>
  <div class="col-sm">
      <div class="card">
          <circle-progress [percent]="infounit?.incline" [radius]="radius" [animation]='true' [animationDuration]="1000" [units]="'% Neigungsabweichung'" [outerStrokeColor]="'#000000'"
          [innerStrokeColor]="'#76EEC6'" [showSubtitle]='false'></circle-progress>
      </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <circle-progress [percent]="infounit?.humidity" [radius]="radius" [animation]='true' [animationDuration]="1000" [units]="'% Luftfeuchtigkeit'" [outerStrokeColor]="'#FF4000'"
      [innerStrokeColor]="'#FFA500'" [showSubtitle]='false'></circle-progress>
  </div>
  </div>
  <div class="col-sm">
    <div class="card mx-auto">
      <circle-progress [percent]="infounit?.brightness" [radius]="radius" [animation]='true' [animationDuration]="1000" [units]="'Lumen'" [outerStrokeColor]="'#000000'"
      [innerStrokeColor]="'#2ECCFA'"[showSubtitle]='false' [innerStrokeColor]='black'></circle-progress>
  </div>
  </div>

</div>
<div class="row mx-auto">
  <div class="col">
      <div class="card date" >
        <h1><i class="fas fa-battery-three-quarters"></i></h1>
         <h3>{{infounit?.level}} %</h3>
      </div>
  </div>
  <div class="col">
    <div class="card position" >
      <h1><i class="fas fa-map-marker-alt"></i></h1>
       <h3>{{infounit?.position}}</h3>
    </div>
</div>
</div>
