.useravatar
{
    margin-bottom: 20px;
    margin-top: 4rem;

}
.logo
{
    height: 256px;
    width: 256px;
    max-width: 256px;
    max-height: 256px;
}

.headerdev
{
    margin-top: 30px;
    margin-bottom: 20px;
}

.featurette
{
    margin-bottom: 50px;
}
.featurette-heading
{
  
}