    <div class='container innercontainer'>
      <div class='card temp'>
          <div class="icon mx-auto">
              <i class="fas fa-thermometer-empty tempavatar"></i>
            </div>
        <div class='inner'>
          <div class="title">
              <div class="unit">
                  Temperatur
                </div>
          </div>
          <div class="number">{{node.temperatur}}</div>
          <div class="measure">Grad</div>
          
        </div>
      </div>
    </div>
